
version: 1.0.0-{build}

image: Visual Studio 2019

branches:
  only:
    - master
    - dev

cache:
  - '%LOCALAPPDATA%\pip\Cache'

environment:
  PYTHON: "C:\\Python37-x64"

init:
  # Make Python 3.7 the default globally
  - cmd: SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%

install:
  - choco install mingw --version=11.2.0
  - refreshenv
  - python --version
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install codecov
  - cmd: mklink /D C:\MinGW C:\ProgramData\chocolatey

build_script:
  - cmd: where python
  - cmd: where gcc
  - cmd: gcc --version
  - inv configure
  - inv all

test_script:
  - inv test

after_test:
  - inv cov
  - cd build\coverage
  - codecov -X gcov -f coverage.xml
