breathe==4.26.1
invoke==1.5.0
ninja==1.10.0.post2
junit-xml==1.9
sphinx-rtd-theme==0.5.1
sphinxcontrib-inlinesyntaxhighlight==0.2
sphinxcontrib-plantuml==0.19
sphinxcontrib-seqdiag==2.0.0
GitPython==3.1.41
gcovr==5.2
pyparsing==3.0.9
Jinja2<3.1
